{% extends "base.html" %}

{% block title %} Hashn {% endblock %}


{% block content %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- 404 Error Text -->
          <div class="text-center">
            <div class="error mx-auto" data-text="403">403</div>
            <p class="lead text-gray-800 mb-5">Premission is denied</p>
            <p class="text-gray-500 mb-0"> These aren't the driods you're looking for</p>
            <a href="{% url 'home'%}">&larr; Back to Home Page</a>
          </div>

        </div>
        {% endblock %}